@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative; }

.header-content {
  max-width: 55%;
  display: flex;
  padding: 80px 0px 40px 0px; }
  .header-content .logo {
    width: 60px;
    height: 60px;
    background-color: #fa4b2e;
    transition: all 0.3s ease-in-out; }
  .header-content ul {
    margin-left: 80px; }
    .header-content ul li {
      list-style: none;
      margin-left: 80px;
      display: inline-block; }
      .header-content ul li a {
        color: #111;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        padding: 0.3em 0.5em; }
      .header-content ul li a:hover {
        background-color: #fa4b2e;
        color: white; }

.mobile-nav {
  width: 50px;
  height: 20px;
  background-color: pink;
  display: none; }

@media (max-width: 1600px) {
  .content {
    max-width: 1400px; } }

@media (max-width: 1400px) {
  .content {
    max-width: 1200px; }
  .header-content {
    max-width: 60%; }
  .header-content ul {
    margin-left: 40px; } }

@media (max-width: 1200px) {
  .content {
    max-width: 1000px; }
  .header-content {
    max-width: 65%; }
  .header-content ul {
    margin-left: 0px; }
  .header-content ul li {
    margin-left: 40px; } }

@media (max-width: 1024px) {
  .content {
    max-width: 900px; } }

@media (max-width: 800px) {
  .content {
    max-width: 700px; }
  .header-content ul {
    display: none; }
  .mobile-nav {
    display: flex; }
  .header-content {
    max-width: 100%;
    justify-content: space-between; } }

@media (max-width: 500px) {
  .content {
    max-width: 400px; } }

@media (max-width: 415px) {
  .content {
    max-width: 350px; } }

@media (max-width: 376px) {
  .content {
    max-width: 300px; } }

.dude-2 {
  z-index: -1;
  width: 620px;
  height: 930px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background-image: url("dude-2.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.dude-1 {
  display: flex;
  padding-top: 120px; }
  .dude-1 .dude-1-content {
    z-index: 2;
    margin-left: -100px;
    margin-top: 100px; }
    .dude-1 .dude-1-content h1 {
      max-width: 300px; }
      .dude-1 .dude-1-content h1 span:nth-child(1) {
        color: white;
        background-color: #fa4b2e; }
      .dude-1 .dude-1-content h1 span {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 0.3em;
        font-size: 100px; }
  .dude-1 .dude-1-img {
    z-index: 1;
    width: 420px;
    height: 500px;
    background-image: url("dude-1.jpg");
    background-position: center top;
    transform: scaleX(-1); }

.browse-button-1 {
  margin-top: 40px;
  position: relative;
  left: 33%;
  max-width: 350px;
  cursor: pointer; }
  .browse-button-1 h1 {
    letter-spacing: 2px;
    line-height: 60px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif; }
    .browse-button-1 h1 span {
      color: #fa4b2e;
      font-size: 150px; }

@media (max-width: 1600px) {
  .dude-2 {
    width: 420px;
    height: 630px; }
  .dude-1 .dude-1-img {
    width: 320px;
    height: 400px; }
  .browse-button-1 h1 {
    font-size: 30px; }
  .browse-button-1 h1 span {
    font-size: 80px; } }

@media (max-width: 1400px) {
  .dude-1 .dude-1-content h1 span {
    font-size: 80px; } }

@media (max-width: 1024px) {
  .dude-2 {
    width: 350px;
    height: 530px; }
  .dude-1 .dude-1-img {
    width: 320px;
    height: 400px; }
  .dude-1 .dude-1-content h1 span {
    font-size: 65px; } }

@media (max-width: 800px) {
  .dude-2 {
    display: none; }
  .dude-1 .dude-1-content h1 span {
    font-size: 55px; }
  .browse-button-1 {
    max-width: 150px; }
  .browse-button-1 h1 {
    font-size: 20px;
    line-height: 30px; }
  .browse-button-1 h1 span {
    font-size: 50px; } }

@media (max-width: 500px) {
  .dude-1 {
    display: block; }
  .dude-1 .dude-1-img {
    width: 100%;
    height: 400px; }
  .dude-1 .dude-1-content {
    margin-left: -10px; }
  .dude-1 .dude-1-content h1 span {
    font-size: 40px;
    margin-bottom: 2px; } }

@media (max-width: 415px) {
  .dude-1 .dude-1-content h1 span {
    font-size: 35px; } }

@media (max-width: 376px) {
  .dude-1 .dude-1-content h1 span {
    font-size: 30px; } }

.womens-winterware {
  display: flex;
  position: relative; }
  .womens-winterware .dudette-1 {
    width: 800px;
    height: 1200px;
    margin-top: 120px;
    background-image: url("dudette-1.jpg");
    background-size: cover; }
  .womens-winterware .dudette-2 {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -200px; }
    .womens-winterware .dudette-2 .dudette-2-img {
      width: 400px;
      height: 600px;
      background-image: url("dudette-2.jpg");
      background-size: cover;
      background-repeat: no-repeat; }
    .womens-winterware .dudette-2 .dudette-2-content {
      z-index: 2;
      margin-right: 295px;
      margin-top: 70px; }
      .womens-winterware .dudette-2 .dudette-2-content h1 {
        max-width: 300px; }
        .womens-winterware .dudette-2 .dudette-2-content h1 span:nth-child(1) {
          color: white;
          background-color: #fa4b2e; }
        .womens-winterware .dudette-2 .dudette-2-content h1 span {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          letter-spacing: 5px;
          display: inline-block;
          margin-bottom: 5px;
          padding: 0 0.3em;
          font-size: 100px; }

.browse-button-2 {
  left: 60%;
  margin-top: -200px;
  position: relative;
  max-width: 350px;
  cursor: pointer; }
  .browse-button-2 h1 {
    letter-spacing: 2px;
    line-height: 60px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif; }
    .browse-button-2 h1 span {
      color: #fa4b2e;
      font-size: 150px; }

@media (max-width: 1600px) {
  .womens-winterware .dudette-1 {
    width: 600px;
    height: 1000px; }
  .womens-winterware .dudette-2 .dudette-2-img {
    width: 300px;
    height: 500px; }
  .browse-button-2 h1 {
    font-size: 30px; }
  .browse-button-2 h1 span {
    font-size: 80px; } }

@media (max-width: 1400px) {
  .womens-winterware .dudette-2 .dudette-2-content {
    margin-right: 180px; }
  .womens-winterware .dudette-2 .dudette-2-content h1 span {
    font-size: 80px; } }

@media (max-width: 1200px) {
  .womens-winterware .dudette-1 {
    width: 400px;
    height: 800px; } }

@media (max-width: 1024px) {
  .womens-winterware .dudette-1 {
    width: 400px;
    height: 800px;
    background-position: center left; }
  .womens-winterware .dudette-2 .dudette-2-img {
    width: 250px;
    height: 400px; }
  .womens-winterware .dudette-2 .dudette-2-content h1 span {
    font-size: 65px; }
  .womens-winterware .dudette-2 .dudette-2-content {
    margin-right: 98px; } }

@media (max-width: 800px) {
  .womens-winterware .dudette-2 .dudette-2-img {
    display: none; }
  .womens-winterware .dudette-1 {
    width: 300px;
    height: 500px; }
  .womens-winterware .dudette-2 .dudette-2-content h1 span {
    font-size: 55px; }
  .womens-winterware .dudette-2 .dudette-2-content {
    margin-right: 175px; }
  .browse-button-2 {
    max-width: 150px; }
  .browse-button-2 h1 {
    font-size: 20px;
    line-height: 30px; }
  .browse-button-2 h1 span {
    font-size: 50px; } }

@media (max-width: 500px) {
  .womens-winterware {
    display: block; }
  .womens-winterware .dudette-1 {
    width: 100%; }
  .womens-winterware .dudette-2 {
    display: block; }
  .womens-winterware .dudette-2 .dudette-2-content {
    margin-right: 0px;
    margin-left: -10px; }
  .womens-winterware .dudette-2 .dudette-2-content h1 span {
    font-size: 40px; }
  .womens-winterware .dudette-2 {
    top: auto;
    margin-top: 0px;
    right: auto; }
  .browse-button-2 {
    left: auto;
    margin-top: 240px;
    margin-left: 100px; } }

@media (max-width: 415px) {
  .womens-winterware .dudette-2 .dudette-2-content h1 span {
    font-size: 35px; } }

@media (max-width: 376px) {
  .womens-winterware .dudette-2 .dudette-2-content h1 span {
    font-size: 30px; } }

.womens-fashionware {
  margin-top: 160px;
  margin-right: 150px;
  position: relative; }
  .womens-fashionware .womens {
    position: absolute;
    right: 0; }
    .womens-fashionware .womens .womens-img {
      width: 500px;
      height: 700px;
      background-image: url("https://vg-images.condecdn.net/image/9v2ldr7g3pg/crop/810/f/APC_020_2000.jpg");
      background-position: top center; }
    .womens-fashionware .womens .womens-content {
      max-width: 300px; }
      .womens-fashionware .womens .womens-content h1 span:nth-child(1) {
        color: white;
        background-color: #fa4b2e; }
      .womens-fashionware .womens .womens-content h1 span {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 0.3em;
        font-size: 65px; }
    .womens-fashionware .womens .browse-button-3 {
      max-width: 200px;
      cursor: pointer; }
      .womens-fashionware .womens .browse-button-3 h1 {
        letter-spacing: 2px;
        line-height: 20px;
        font-size: 20px;
        font-family: "Montserrat", sans-serif; }
        .womens-fashionware .womens .browse-button-3 h1 span {
          color: #fa4b2e;
          font-size: 60px; }

@media (max-width: 1600px) {
  .womens-fashionware .womens .womens-img {
    width: 400px;
    height: 600px; }
  .womens-fashionware .womens .womens-content h1 span {
    font-size: 50px; } }

@media (max-width: 1200px) {
  .womens-fashionware .womens {
    right: -150px; }
  .womens-fashionware .womens .womens-content h1 span {
    font-size: 40px; } }

@media (max-width: 1024px) {
  .womens-fashionware .womens .womens-img {
    width: 350px;
    height: 550px; }
  .womens-fashionware .womens {
    right: -120px; } }

@media (max-width: 800px) {
  .womens-fashionware {
    margin-top: 50px; }
  .womens-fashionware .womens .womens-img {
    width: 350px;
    margin: 0 auto; }
  .womens-fashionware .womens {
    right: auto; }
  .womens-fashionware .womens .womens-content h1 span {
    font-size: 30px; } }

@media (max-width: 376px) {
  .womens-fashionware .womens .womens-img {
    width: 300px; } }

.mens-fashionware {
  position: relative; }
  .mens-fashionware .mens {
    position: absolute;
    top: 300px;
    left: 100px; }
    .mens-fashionware .mens .mens-img {
      width: 500px;
      height: 700px;
      background-image: url("mens-1.jpg");
      background-position: top center; }
    .mens-fashionware .mens .mens-content {
      max-width: 300px; }
      .mens-fashionware .mens .mens-content h1 span:nth-child(1) {
        color: white;
        background-color: #fa4b2e; }
      .mens-fashionware .mens .mens-content h1 span {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 0.3em;
        font-size: 65px; }
    .mens-fashionware .mens .button-section {
      display: flex; }
      .mens-fashionware .mens .button-section .browse-button-4 {
        max-width: 200px;
        cursor: pointer; }
        .mens-fashionware .mens .button-section .browse-button-4 h1 {
          letter-spacing: 2px;
          line-height: 20px;
          font-size: 20px;
          font-family: "Montserrat", sans-serif; }
          .mens-fashionware .mens .button-section .browse-button-4 h1 span {
            color: #fa4b2e;
            font-size: 60px; }
      .mens-fashionware .mens .button-section .browse-button-5 {
        margin-left: 800px;
        margin-top: -100px;
        max-width: 400px;
        cursor: pointer; }
        .mens-fashionware .mens .button-section .browse-button-5 h1 {
          padding: 30px 40px;
          letter-spacing: 2px;
          line-height: 40px;
          font-size: 30px;
          font-family: "Montserrat", sans-serif;
          color: white;
          background-color: #fa4b2e; }
          .mens-fashionware .mens .button-section .browse-button-5 h1 span:nth-child(1) {
            word-spacing: 100px; }

@media (max-width: 1600px) {
  .mens-fashionware .mens .mens-img {
    width: 400px;
    height: 600px; }
  .mens-fashionware .mens .mens-content h1 span {
    font-size: 50px; }
  .mens-fashionware .mens .button-section .browse-button-5 {
    margin-left: 500px; } }

@media (max-width: 1200px) {
  .mens-fashionware .mens {
    left: 0; }
  .mens-fashionware .mens .mens-content h1 span {
    font-size: 40px; }
  .mens-fashionware .mens .button-section .browse-button-5 {
    margin-left: 350px; } }

@media (max-width: 1024px) {
  .mens-fashionware .mens .mens-img {
    width: 350px;
    height: 550px; }
  .mens-fashionware .mens .button-section .browse-button-5 {
    margin-left: 300px; }
  .mens-fashionware .mens .button-section .browse-button-5 h1 {
    font-size: 20px; } }

@media (max-width: 800px) {
  .mens-fashionware .mens {
    top: 900px; }
  .mens-fashionware .mens .button-section .browse-button-5 {
    max-width: 200px; }
  .mens-fashionware .mens .button-section .browse-button-5 h1 {
    line-height: 20px;
    padding: 20px; } }

@media (max-width: 500px) {
  .mens-fashionware .mens .button-section .browse-button-5 {
    margin-left: -200px;
    margin-top: 90px; }
  .mens-fashionware .mens .mens-content h1 span {
    font-size: 30px; } }

@media (max-width: 376px) {
  .mens-fashionware .mens .mens-img {
    width: 300px; } }

footer {
  position: relative;
  top: 1600px;
  display: flex;
  justify-content: space-around; }
  footer .logo-div .logo-footer {
    width: 80px;
    height: 80px;
    background-color: #fa4b2e; }
  footer .section-1 li {
    margin-top: 20px;
    list-style: none; }
    footer .section-1 li a {
      font-family: "Montserrat", sans-serif;
      color: #111;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700; }
  footer .section-1 li:nth-child(1) {
    margin-top: 0px; }
  footer .section-2 li {
    margin-top: 20px;
    list-style: none; }
    footer .section-2 li a {
      font-family: "Montserrat", sans-serif;
      color: #111;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700; }
  footer .section-2 li:nth-child(1) {
    margin-top: 0px; }
  footer .section-3 li {
    margin-top: 20px;
    list-style: none; }
    footer .section-3 li a {
      font-family: "Montserrat", sans-serif;
      color: #111;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700; }
  footer .section-3 li:nth-child(1) {
    margin-top: 0px; }

@media (max-width: 1200px) {
  footer {
    top: 1400px; }
  footer .section-1 li a {
    font-size: 15px; }
  footer .section-2 li a {
    font-size: 15px; }
  footer .section-3 li a {
    font-size: 15px; } }

@media (max-width: 800px) {
  footer {
    top: 1900px; }
  footer .logo-div h3 {
    font-size: 20px; } }

@media (max-width: 500px) {
  footer {
    top: 2000px;
    display: block; } }

@media (max-width: 376px) {
  footer .section-1 {
    margin-top: 40px;
    margin-bottom: 20px; }
  footer .section-2 {
    margin-top: 40px;
    margin-bottom: 40px; }
  footer .section-3 {
    margin-top: 20px;
    margin-bottom: 20px; } }

.container {
  max-width: 1600px;
  margin: auto; }
  .container #box-1 {
    height: 200px;
    width: 650px;
    position: absolute;
    overflow: hidden;
    padding-top: 40px; }
    .container #box-1 .colorLayer {
      width: 650px;
      height: 80px;
      background-color: #fa4b2e;
      left: -650px;
      z-index: 9;
      position: absolute; }
    .container #box-1 .title {
      display: inline-block;
      position: absolute;
      left: -650px; }
      .container #box-1 .title h1 {
        font-family: "Montserrat", sans-serif;
        background-color: #fa4b2e;
        color: white;
        padding: 2px 4px;
        margin: 0; }
  .container #box-2 {
    height: 200px;
    width: 650px;
    position: absolute;
    overflow: hidden;
    top: 8%; }
    .container #box-2 .colorLayer {
      width: 650px;
      height: 80px;
      background-color: #fa4b2e;
      left: -650px;
      z-index: 9;
      position: absolute;
      top: 23%; }
    .container #box-2 .title {
      display: inline-block;
      position: absolute;
      left: -650px; }
      .container #box-2 .title h1 {
        font-family: "Montserrat", sans-serif; }

.box-desc {
  max-width: 400px;
  padding-top: 40px;
  margin-left: 750px;
  opacity: 0; }
  .box-desc p {
    line-height: 30px;
    text-align: justify; }

.clothes-pics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
  margin-top: 100px; }
  .clothes-pics figure {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 500px;
    cursor: pointer;
    left: -650px;
    opacity: 0; }
    .clothes-pics figure img {
      width: 400px;
      height: 500px;
      transition: all 0.3s ease-in-out; }
    .clothes-pics figure figcaption {
      position: absolute;
      bottom: 50px;
      left: -100%;
      padding: 4px;
      background-color: #fa4b2e;
      color: white;
      transition: all 0.3s ease-in-out; }
    .clothes-pics figure:hover figcaption {
      left: 0%; }
    .clothes-pics figure:hover img {
      transform: scale(1.2); }

.item {
  opacity: 0; }

.is-showing {
  animation: Items 200ms ease-in forwards; }

.item-1 {
  opacity: 0; }

.is-showing-1 {
  animation: Items1 300ms ease-in forwards; }

@keyframes Items {
  0% {
    opacity: 0;
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes Items1 {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
