doctype html
html
  head
    title Orange.Co
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='assets/img/favicons/favicon.ico', rel='shortcut icon')
    link(href='./assets/css/main.css', rel='stylesheet')
  body
    .content
      header
        .header-content.item
          .logo
          ul
            li: a(href='#men') men
            li: a(href='#women') women
            li: a(href='#collections') collections
          .mobile-nav  
        
            
      .mens-winterware
        .dude-1.item-1
          .dude-1-img
          .dude-1-content
            h1 
              span MENS 
              span WINTERWARE.
        .dude-2.item-1
        .browse-button-1.item
          a(href='mens-winterware.html')
            h1 BROWSE #[span +] COLLECTION
          
      .womens-winterware.item-1
        .dudette-1
        .dudette-2
          .dudette-2-content
            h1
              span WOMENS 
              span WINTERWARE.           
          .dudette-2-img
      .browse-button-2.item-1
        h1 BROWSE #[span +] COLLECTION
        
      .womens-fashionware.item-1
        .womens
          .womens-img
          .womens-content
            h1 
              span WOMENS 
              span FASHIONWARE.
          .browse-button-3
            h1 BROWSE #[span +] COLLECTION
            
      .mens-fashionware.item-1
        .mens
          .mens-img
          .mens-content
            h1 
              span MENS 
              span FASHIONWARE.
          .button-section
            .browse-button-4
              h1 BROWSE #[span +] COLLECTION
            .browse-button-5
              h1 
                span BROWSE #[span +] 
                br 
                span ALL COLLECTION
                
      footer
        .logo-div
          .logo-footer
          h3 KOP-R FASHION 
        .section-1
          li: a(href='#') men
          li: a(href='#') women
          li: a(href='#') collections
        .section-2
          li: a(href='#') popular products
          li: a(href='#') on sale 
          li: a(href='#') recently added
        .section-3
          li: a(href='#') shops
          li: a(href='#') brands
          li: a(href='#') policies
          
    script(src='./assets/js/main.js', type='text/javascript')
    script(src='./assets/js/anime.min.js', type='text/javascript')
