doctype html
html
  head
    title Orange.Co-Mens Winterware
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='assets/img/favicons/favicon.ico', rel='shortcut icon')
    link(href='./assets/css/main.css', rel='stylesheet')
    script(src='./assets/js/anime.min.js', type='text/javascript')
    
  body
    .container
      #box-1
        .colorLayer
        .title
          h1 MENS 
      #box-2
        .colorLayer
        .title
          h1 WINTERWARE
      .box-desc
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ullam aspernatur quibusdam tenetur adipisci rem voluptates sunt nihil numquam, pariatur, laborum qui minima placeat magnam deserunt accusantium. Aspernatur, quae, debitis!

      .clothes-pics
        figure.model-1 
          img(src='assets/css/winterware-1.jpg')
          figcaption Orage.Co Jacket - <strong>$135</strong>
        figure.model-2
          img(src='assets/css/winterware-2.jpg')
          figcaption Orage.Co D-Jacket - <strong>$135</strong>
        figure.model-3
          img(src='assets/css/winterware-3.jpg')
          figcaption Orage.Co Sweater - <strong>$135</strong>
        figure.model-4
          img(src='assets/css/winterware-4.jpg')
          figcaption Orage.Co Jacket - <strong>$135</strong>
        figure.model-5
          img(src='assets/css/winterware-5.jpg')
          figcaption Orage.Co Shirt - <strong>$135</strong>
        figure.model-6
          img(src='assets/css/winterware-8.jpg')
          figcaption Orage.Co J-Jacket - <strong>$135</strong>
        figure.model-7        
          img(src='assets/css/winterware-7.jpg')
          figcaption Orage.Co R-Jacket - <strong>$135</strong>
        figure.model-8        
          img(src='assets/css/winterware-8.jpg')
          figcaption Orage.Co Jacket - <strong>$135</strong>
        figure.model-9                
          img(src='assets/css/winterware-9.jpg') 
          figcaption Orage.Co B-Jacket - <strong>$135</strong>         
          
    script(src='./assets/js/main.js', type='text/javascript')
    
      
